h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #212529;
  width: 860px;
  margin: 41px 0 0 42px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dadcdc;
}

.mbank-logo {
  margin: 41px 0 32px 42px;
  padding-bottom: 14px;
}
.description-pay-block {
  padding: 0 0 0 120px;
}
.text-unsuccess {
  margin: 10px 0 30px 0;
  font-size: 20px;
  color: red;
}

.payment-state-success {

}
.text-success-one, span {
  font-size: 20px;
  color: #777c87;
}
p {
  width: 700px;
  font-size: 14px;
  color: #777c87;
}
