<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>Результат оплаты</h1>

      <img class="mbank-logo" src="../../assets/img/modul-bank.svg" height="auto" width="150"/>

      <div class="description-pay-block">


        <img src="../../assets/img/pay-modul-success.svg" height="107" width="137"/>

        <div class="text-unsuccess">Оплата не произведена</div>


        <div class="d-flex justify-content-start text-success-one pb-2">
          <span style="width: 210px;"> Магазин</span>
          <span>Отель Виктория</span>
        </div>

        <div class="d-flex justify-content-start text-success-one pb-2">
          <span style="width: 210px;">Номер заказа</span>
          <span>565465132</span>
        </div>

        <div class="d-flex justify-content-start text-success-one pb-5">
          <span style="width: 210px;">Сумма</span>
          <span>30000</span>рублей
        </div>

        <p>
          Введенная Вами персональная информация хранится исключительно в нашей системе.
          Данный сайт поддерживает 128-битное SSL-шифрование для большей безопасности.
          Любая информация, переданная на данную страницу, в безопасности и защищена специальными средствами.
          Служба поддержки: 8 800 100 54 54, support@modulbank.ru.
        </p>

      </div>

    </div>
  </div>
</div>




