<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="#"><img class="img-fluid" src="../../assets/img/viktoria-horizontal.png" height="50" width="271"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/o-nas/.">О нас</a></li>
          <li class="nav-item"><a class="nav-link" href="/bronirovanie/.">Бронирование</a></li>
          <li class="nav-item"><a class="nav-link" href="/transfer/.">Трансфер</a></li>
          <li class="nav-item"><a class="nav-link" href="/otzyvy/.">Отзывы</a></li>
          <li class="nav-item"><a class="nav-link" href="/main#kontakty">Контакты</a></li>
          <li class="nav-item"><app-personal-menu></app-personal-menu></li>
        </ul>
      </div>
    </nav>
  </header>

</div>
