.navbar{
  padding: 0;
  max-width: 1180px;
  margin: 0 auto;
}
#navbar-content{

}
header .navbar-light {
  background-color: #fff;
}
header .navbar-brand{
  margin-right: 76px;
  padding-top: 0;
}

header .nav-item{
  font-family: proxima-n-w01-reg, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: inline-flex;
  margin-right: 35px;
  padding-top: 8px;
}

header .nav-link {
  color: #A3BAC9;
}
header .nav-link:hover {
  color: #FF7F41;
}

li:last-child {
  margin: -3px 0 0 41px;
}
header .nav-item a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #A3BAC9;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}
header .nav-item a:hover::after{
  transform: scale(1);
}
.arrow{
  margin-left: 6px;
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .navbar {
    width: 992px;
    margin: 0 auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }
  header .nav-item{
    margin-right: 25px;
  }
  header .navbar-brand{
    margin-right: 20px;
  }
  li:last-child {
    margin: -3px 0 0 21px;
  }
  button {
    margin-left: auto;
    padding-right: 15px;
  }

}  /* КОНЕЦ 992 - 1200  */

@media screen and (min-width:480px) and (max-width:800px) {

}  /* КОНЕЦ 480 - 800  */

@media screen and (max-width:479px) {
  .container-fluid {
    padding: 0;
  }
  header .navbar-brand{
    margin-right: 3px;
    width: 220px;
  }
  button {
    margin-right: 10px;
  }
}  /* КОНЕЦ 320 - 479  */

