#navbar-content{
  font-family: 'Arial','Proxima N W01 Reg','inconsolata', monospace;


}
header .navbar-light {
  background-color: #fff;
}
header .navbar-brand{

}

header .nav-item{

  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: inline-flex;
}

header .nav-item:hover {
  color: red;
}
header .nav-item a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #ccc;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}
header .nav-item a:hover::after{
  transform: scale(1);
}


/**/
