<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-8 px-0" style="max-width: 670px">

      <div class="d-flex justify-content-start title-room">
        <a href="/reservation" class="btn-back"><img src="../../assets/img/room-back.png" height="26" width="26" title="Назад"/></a>
        <h2 *ngIf="room">{{room.name}}</h2>
      </div>

      <div *ngIf="room" class="ngx-block">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </div>

    <div class="d-flex flex-column properties-block">

      <div class="d-flex justify-content-start">
        <label class="parameters">Параметры:</label>
        <div *ngIf="room" class="allparameters">Вместимость:&nbsp;&nbsp;{{room.guests}} взрослых,&nbsp;{{room.children}} детей</div>
        <div class="area">Площадь: <span>30</span> кв. м</div>
      </div>

        <div class="d-flex justify-content-start">

        <!-- выводим кровати номера-->
        <div class="beds">Кровати:</div>
        <div *ngIf="room.beds_mas && room.beds_mas.length>0">
        <ul>
          <li *ngFor="let bed of room.beds_mas"><span class="bedscol">{{bed.name}} : {{bed.amount}} шт.</span></li>
        </ul>
        </div>

        </div>

    </div>

      <div class="description-block ">
        <label class="aboutroom">О номере:</label>
        <div *ngIf="room" class="part-4">{{room.description}}</div>
      </div>

    <div *ngIf="room.features_mas && room.features_mas.length > 0">
      <div class="d-flex justify-content-start comfort-block">
          <div class="comfort-name">Удобства:</div>
          <div class="d-flex flex-wrap comfort-images">
            <ng-container *ngFor="let feature of room.features_mas.sort()">
              <span *ngIf="feature === '1'" class="comfort-image"><img src="../../assets/img/wi-fi.png" height="30" width="30"/>Wi-Fi</span>
              <span *ngIf="feature === '2'" class="comfort-image"><img src="../../assets/img/tv.png" height="30" width="30"/>Телевизор</span>
              <span *ngIf="feature === '3'" class="comfort-image"><img src="../../assets/img/bar.png" height="30" width="30"/>Мини-бар</span>
              <span *ngIf="feature === '4'" class="comfort-image"><img src="../../assets/img/shower.png" height="30" width="30"/>Душ</span>
              <span *ngIf="feature === '5'" class="comfort-image"><img src="../../assets/img/kitchen.png" height="30" width="30"/>Кухня</span>
              <span *ngIf="feature === '6'" class="comfort-image"><img src="../../assets/img/towels.png" height="30" width="30"/>Полотенца</span>
              <span *ngIf="feature === '7'" class="comfort-image"><img src="../../assets/img/appliances.png" height="30" width="30"/>Бытовая техника</span>
              <span *ngIf="feature === '8'" class="comfort-image"><img src="../../assets/img/conditioner.png" height="30" width="30"/>Кондиционер</span>
              <span *ngIf="feature === '9'" class="comfort-image"><img src="../../assets/img/safe.png" height="30" width="30"/>Сейф</span>
              <span *ngIf="feature === '10'" class="comfort-image"><img src="../../assets/img/phone.png" height="30" width="30"/>Телефон</span>
              <span *ngIf="feature === '11'" class="comfort-image"><img src="../../assets/img/bath.png" height="30" width="30"/>Ванна</span>
              <span *ngIf="feature === '12'" class="comfort-image"><img src="../../assets/img/work-zone.png" height="30" width="30"/>Рабочая зона</span>
              <span *ngIf="feature === '13'" class="comfort-image"><img src="../../assets/img/smokers.png" height="30" width="30"/>Для курящих</span>
              <span *ngIf="feature === '14'" class="comfort-image"><img src="../../assets/img/toilet.png" height="30" width="30"/>Санузел</span>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="in-out">
        <label class="checkin">Заезд и выезд:</label>
        <div class="part-2">Заезд: 13:00</div>
        <div class="part-3">Выезд: 12:00</div>
      </div>

      <div class="d-flex justify-content-start description-block ">

        <label class="terms">Условия:</label>
        <div  class="terms-open" (click)="clickRules()">Познакомьтесь с нашими правилами</div>
      </div>

        <div class="d-flex flex-column rules-block" *ngIf="boolRules">

          <h2>Правила бронирования<img class="close" (click)="clickRules()" src="../../assets/img/x-square.svg" height="20" width="20" title="Закрыть"/></h2>

          <h2 style="color: #33a2dc; margin: 20px auto;">Время заезда 13:00 | Время выезда 12:00</h2>
          <br><br>
          <p>Бронирование осуществляется:
          <p> на сайте <a href="https://victoria-sbor.ru">victoria-sbor.ru</a> <br>
            <a href="vk.com">ВКонтакте</a>  <br>
            по тел: <strong>+ 7 911 744 88 13</strong></p>

          <p>* бронь гарантируется при полной оплате стоимости проживания.</p>

          <h2>Отмена бронирования</h2>

          <p>
            Оплата брони за первые сутки не возвращается
          </p>

        </div>








      <div class="map-middle">
        <div class="address" *ngIf="room">{{room.address}}</div>

        <app-map-page></app-map-page>

      </div>


    </div>    <!-- col-8 -->

    <!-- КОНЕЦ ОСНОВНОЙ СТРАНИЦЫ-->

    <!-- ПРАВАЯ КОЛОНКА С БРОНИРОВАНИЕМ -->

    <div class="col-4 pl-0">

      <div class="order-widget flex-column">


        <div *ngIf="boolBeginCalendar || boolEndCalendar">
          <div *ngIf="boolBeginCalendar" class="calendar-block-one">
            <app-easycalendar #beginCalendar (clickDay)="clickDayBegin($event)"
                              (clickPrev)="clickCalendarBook($event)"
                              (clickNext)="clickCalendarBook($event)"
                              (clickNow)="clickCalendarBook($event)"
                              (easyinit)="clickCalendarBook($event)"
                              [checkedDate]="arCheckedDate" ></app-easycalendar>
          </div>
          <div *ngIf="boolEndCalendar" class="calendar-block-two">
            <app-easycalendar #endCalendar (clickDay)="clickDayEnd($event)"
                              (clickPrev)="clickCalendarBook($event)"
                              (clickNext)="clickCalendarBook($event)"
                              (clickNow)="clickCalendarBook($event)"
                              (easyinit)="clickCalendarBook($event)"
                              [checkedDate]="arCheckedDate"  ></app-easycalendar>
          </div>
        </div>



        <div class="d-flex flex-column prise-block">
          <span class="from">от</span>
          <span *ngIf="room" class="prise">{{room.price_weekdays}} руб</span>
          <span class="to">за ночь</span>
        </div>


        <div class="d-flex justify-content-between mt-3 check-in">
          <span id="textCalenarBegin">Заезд&nbsp;</span>
          <span (click)="clickIconBeginCalendar()"><img class="ico" src="../../assets/img/calendar.svg" height="20" width="20"/></span>
        </div>

        <div class="d-flex justify-content-between check-out">
          <span id="textCalenarEnd">Выезд&nbsp;</span>
          <span (click)="clickIconEndCalendar()"><img class="ico" src="../../assets/img/calendar.svg" height="20" width="20"/></span>
        </div>


        <div class="d-flex justify-content-between check-col">
          <div class="m-0 p-0 pr-2 col"> {{numberOfAdults}} &nbsp;взрослых</div>

          <div class="d-flex flex-column m-0 ml-auto arrows">
            <span (click)="addAdult()"><img class="arr mt-1" src="../../assets/img/up-down-arrow.svg"/></span>
            <span (click)="deleteAdult()"><img class="arr2 mb-3" src="../../assets/img/drop-down-arrow.svg"/></span>
          </div>

        </div>

        <div class="d-flex justify-content-between check-chldr">

          <div class="m-0 p-0 pr-2 col">  {{numberOfChildren}} &nbsp;детей</div>

          <div class="d-flex flex-column m-0 ml-auto arrows">
            <span (click)="addChildren()"><img class="arr mt-1" src="../../assets/img/up-down-arrow.svg"/></span>
            <span (click)="deleteChildren()"><img class="arr2 mb-3" src="../../assets/img/drop-down-arrow.svg"/></span>
          </div>

        </div>

        {{sError}}

        <button type="button" class="btn-order" (click)="findRooms()">
          Бронировать
        </button>


      </div> <!-- Конец виджета -->
    </div>


  </div>
</div>


<button style="opacity: 0" (click)="test()">!!!!!!!!!!!!!!!!!!</button>

