<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">

      <h1 class="d-flex justify-content-center mt-5">Гостиница Виктория Сосновый Бор</h1>

    <div class="d-flex justify-content-center mt-1 op">отель • гостиница • апартаменты</div>





  <p class="align-content-center">
    Cеть отелей и мини-гостиниц "Виктория" предлагает гостям города комфортабельное проживание в Сосновом Бору.
    Наши гостиницы и отели располагаются по всему городу, в шаговой доступности от них находятся магазины, автобусные остановки,
    фитнес залы и многое другое. В фонде сети гостиниц имеются номера различной категории: эконом, стандарт, люкс и апартаменты(студии, квартиры).
    В номерах есть все необходимые удобства для проживания, работы и отдыха в городе Сосновый Бор.
  </p>

  <p class="align-content-center">Каждый из номеров оснащен всем необходимым для комфортного пребывания в деловой поездке, семейного отдыха или романтической встречи.
    Номера оборудованы ванными комнатами, высокоскоростным интернетом, гигиеническим пакетом и сменной обувью.<br>
    Ежедневно в номерах выставляется вода, чай,
    кофе и шоколад *.</p>
  <p class="align-content-center">
    Гостям города предоставляется 3-х разовое питание в кафе-баре "Бор-Бар", стоимость питания по желанию можно включить в стоимость проживания.<br>
    Стоимость питания на выбор (завтрак - обед или обед - ужин) от 550 руб.
  </p>

  <p class="align-content-center">
    Оказываем трансфер(от аэропорта, вокзала до гостиницы и обратно), проезд можно включить в стоимость проживания. Трансфер осуществляется при помощи сервиса
    заказа такси  <a href="https://taximaxim.ru/">"Maxim"</a> по тарифам: <br> эконом, комфорт, бизнес, минивэн, грузовой до 2 т.
  </p>



<!--  <a routerLink="" routerLinkActive="active"></a> -->

  <p class="align-content-center">
    Услуги и условия работы с организациями:
    Осуществляем подбор номерного фонда(квартиры, общежитие) по индивидуальному требованию заказчика. В кратчайшие сроки разместим 50-100 человек.
    Имеется аккредитация для участия на аукционах и торговых площадках. Работаем за наличный и безналичный расчет. Оформление отчетных документов.<br>
    Корпоративным клиентам предусмотрены специальные скидки и условия.
  </p>

  </div>
 </div>
</div>

<!---->
  <app-footer></app-footer>




  ​



  ​
















