<app-header></app-header>


<div class="container-fluid my-5 page1">

  <div class="row text-center">
    <div class="col-12">
      <h2>Особенности наших отелей</h2>
      <hr>
      <p class="top-txt">Мы хотим, чтобы каждый мог почувствовать<br>
        себя в нашей сети отелей как дома</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex">

      <div class="img-services">
        <img src="../../assets/img/food.webp" height="65" width="65"/>
      </div>

      <div class="topic">
        <h3>Питание на выбор:</h3>
        <p>(завтрак, бизнес-ланч, ужин)</p>
        <p>Ресторан "Талисман"</p>
        <p>Бар "Бор Бар"</p>
      </div>

    </div>

    <div class="col-md-6 d-flex">

      <div class="img-services">
        <img src="../../assets/img/place.png" height="65" width="65"/>
      </div>

      <div class="topic">
        <h3>Удобное месторасположение</h3>
        <p>Отели расположены по всему городу</p>
        <p>Красивый вид на сосны</p>
        <p>Финнский залив в шаговой доступности</p>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-6 d-flex">

      <div class="img-services">
        <img src="../../assets/img/wifi.webp" height="65" width="65"/>
      </div>

      <div class="topic">
        <h3>Бесплатный Wi-Fi</h3>
        <p>Бесплатный скоростной интернет<br>доступен на территории всего отеля</p>

      </div>

    </div>

    <div class="col-md-6 d-flex">

      <div class="img-services">
        <img src="../../assets/img/parking.png" height="65" width="65"/>
      </div>

      <div class="topic">
        <h3>Парковка</h3>
        <p>Рядом с отелями есть платные и бесплатные<br> парковочные места</p>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-6 d-flex">

      <div class="img-services">
        <img src="../../assets/img/pay.jpg" height="65" width="65"/>
      </div>

      <div class="topic">
        <h3>Расчет наличными и <br>банковскими картами</h3>
        <p>Выберите удобный для Вас<br>способ оплаты</p>

      </div>

    </div>

    <div class="col-md-6 d-flex">

      <div class="img-services">
        <img src="../../assets/img/tranfer.png" height="65" width="65"/>
      </div>

      <div class="topic">
        <h3>Трансфер</h3>
        <p>Встречаем и провожаем, пассажирские <br>перевозки</p>

      </div>

    </div>

  </div>


</div>


