<app-header></app-header>


<div class="container-fluid my-5 page1">

  <div class="row text-center">
    <div class="col-12">
      <h2>Особенности наших отелей</h2>
      <hr>
      <p class="txt1">Мы хотим, чтобы каждый мог почувствовать<br>
        себя в нашей сети отелей как дома</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/food.webp" height="65" width="65"/>
      <div class="font-weight-bold text-muted">Питание на выбор:</div>
     <p>(завтрак, бизнес-ланч, ужин)</p>
      <p>Ресторан "Талисман" </p>
      <p>Бар "Бор Бар" </p>
    </div>

    <div class="col-md-6">
      <img src="../../assets/img/wifi.webp" height="65" width="65"/>
      <div class="font-weight-bold text-muted">Питание на выбор:</div>
      <p>(завтрак, бизнес-ланч, ужин)</p>
      <p>Ресторан "Талисман" </p>
      <p>Бар "Бор Бар" </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/food.webp" height="65" width="65"/>
      <div class="font-weight-bold text-muted">Питание на выбор:</div>
      <p>(завтрак, бизнес-ланч, ужин)</p>
      <p>Ресторан "Талисман" </p>
      <p>Бар "Бор Бар" </p>
    </div>

    <div class="col-md-6">
      <img src="../../assets/img/food.webp" height="65" width="65"/>
      <div class="font-weight-bold text-muted">Питание на выбор:</div>
      <p>(завтрак, бизнес-ланч, ужин)</p>
      <p>Ресторан "Талисман" </p>
      <p>Бар "Бор Бар" </p>
    </div>
  </div>




</div>


