.comfort-block {
  width: 648px;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 42px;
  padding-bottom: 30px;
  border-bottom: 1px solid #bfc0c4;
  display: flex;
}
.comfort-name {
  color: #414141;
  width: 160px;
  font-weight: 700;
}
span {
  width: 230px;
  padding-bottom: 15px;
}
.comfort-images {
  width: 468px;
}
