
<div class="container-fluid">
  <div class="row">
    <div class="col-8">


      <div class="d-flex w-25">
        <label>Количество ужинов</label>
        <input formControlName="dinner" type="text" class="form-control" placeholder="">
      </div>



      <div class="d-flex flex-column">

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label">Аэропорт Пулково</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label">Витебский вокзал</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label">Варшавский вокзал</label>
        </div>


        <div class="d-flex w-50">
          <label>Имя</label>
          <input formControlName="name" type="text" class="form-control" placeholder="">
        </div>

        <div class="d-flex w-50">
          <label>Фамилия</label>
          <input formControlName="surname" type="text" class="form-control" placeholder="">
        </div>

        <div class="d-flex w-50">
          <label>E-Mail</label>
          <input formControlName="email" type="text" class="form-control" placeholder="">
        </div>

        <div class="d-flex w-50">
          <label>Телефон</label>
          <input formControlName="phone" type="text" class="form-control" placeholder="">
        </div>
        <div class="d-flex w-50">
          <label>Пожелания</label>
          <textarea class="form-control" aria-label="Пожелания"></textarea>
        </div>



      </div>

    </div>



    <div class="col-4">


     <h3>Детали заказа</h3>


     <label>Фото номера</label>
      <div class="image">
        <img src="../../assets/img/molodezhnaya72room1-middle1.jpg" height="226" width="306"/></div>

      <div class="d-flex justify-content-between">
      <h4>Тип номера</h4>
      <span>Отель Молодёжная 72 №5 - Из базы</span>
    </div>


      <div class="d-flex justify-content-between">
      <h4>Даты</h4>
      <span>июл. 30-31, 2020 - Из базы</span>
      </div>

      <div class="d-flex justify-content-between">
      <h4>Ночей</h4>
        <span>3 - Из базы</span>
      </div>

      <div class="d-flex justify-content-between">
      <h4>Гостей</h4>
        <span>1 взрослых - Из базы</span>
      </div>

      <div class="d-flex justify-content-between">
      <h4>Без налога</h4> 	<span>2600  - Из базы руб</span>
      </div>

      <div class="d-flex justify-content-between">
       <h4>Налог (0 %)</h4> 	<span>0 руб  - Из базы </span>
      </div>

            <h4>Добавить</h4>

           <label>Дополнительно:</label>

      <div class="d-flex justify-content-between">
      <h4>Обед или ужин на выбор</h4>  <span>  × 2 	700 руб   - Из базы  </span>
      </div>

      <div class="d-flex justify-content-between">
      <span>Встретить в Пулково 	2200 руб    - Из базы </span>
      </div>





    </div>
  </div>

  <button class="btn btn-outline-primary mb-5 mx-5" type="button">Продолжить</button>
</div>
