<app-header></app-header>

<div class="d-flex justify-content-center video-block">
  <div class="video">
    <video width="100%" height="auto"
           poster="/../../assets/img/intro.jpg"
           autoplay
           tabindex="0"
           #myvideo
           muted
           loop
           oncanplay="this.play()"
           onloadedmetadata="this.muted = true"
           id='myvideo'>

      <source src="/../../assets/img/transfer.webm" type="video/webm">
<!--       <source src="/../../assets/img/victoria-intro.mp4" type="video/mp4">        -->


    </video>
  </div>
</div>

<form [formGroup]="transferForm">

<div class="container">

  <div class="row text-center">
    <div class="col-12">
      <h2>Трансфер</h2>
      <hr>

    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">

      <div class="item-viteb">
        <div class="image">
          <img src="../../assets/img/vitebskiy.png" height="100%" width="auto"/></div>

        <div class="name">
          Витебский<br>вокзал
        </div>

        <div class="phone">
          +7 (911) 744 88-13
        </div>
        <div class="txt">
          Трансфер от Витебского вокзала до Соснового Бора (гостиницы) и обратно.
          Стоимость поездки указана в одну сторону.<br>
          От
        </div>

        <div class="prise-order d-flex justify-content-start">
          <span>2700 руб.</span>


          <a class="btn-order" (click)="transfertVitebsk()" > Заказать</a>

        </div>

      </div>

      <div class="item-ladoga">

        <img src="../../assets/img/ladozhskiy.png" height="226" width="306"/>

        <div class="name">
          Ладожский<br>вокзал
        </div>
        <div class="phone">
          +7 (911) 744 88-13
        </div>

        <div class="txt">
          Трансфер от Ладожского вокзала до Соснового Бора (гостиницы) и обратно.
          Стоимость поездки указана в одну сторону.<br>
          От
        </div>

        <div class="prise-order d-flex justify-content-start">
          <span>2600 руб.</span>


          <a class="btn-order" (click)="transfertLadoga()"> Заказать </a>

        </div>

      </div>

      <div class="item-pulkovo">

        <img src="../../assets/img/pulkovo.png" height="226" width="306"/>
        <div class="name">
          Аэропорт<br>Пулково
        </div>
        <div class="phone">
          +7 (911) 744 88-13
        </div>

        <div class="txt">
          Трансфер от аэропорта Пулково до Соснового Бора (гостиницы) и обратно.
          Стоимость поездки указана в одну сторону.<br>
          От
        </div>

        <div class="prise-order d-flex justify-content-start">
          <span>2400 руб.</span>


          <a class="btn-order" (click)="transfertPulkovo()"> Заказать</a>

        </div>

      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-12 d-flex justify-content-center ">
      <div class="description">
        Предоставляем услуги трансфера(от аэропорта, вокзала до гостиницы и обратно),
        оплату проезда можно включить в стоимость проживания, предоставляются отчетные документы.
        Трансфер осуществляется на автомобилях класса комфорт, бизнес и минивэн.
      </div>
    </div>
  </div>
</div>


<div *ngIf="orderPay">

  <div class="transfer-order">
  <div class="d-flex flex-column client-info">
   <h3>Заказать трансфер</h3>

    <div class="mb-5 error">
      <div class="alert-danger">{{sError}}</div>
    </div>

   <div class="d-flex justify-content-start mb-3">

      <div class="mr-auto">
       <label>Имя</label>
       <input formControlName="name" type="text" class="form-control" placeholder="">
      </div>

     <div class="p-0">
       <label>Фамилия</label>
        <input formControlName="surname" type="text" class="form-control" placeholder="">
      </div>

   </div>

   <div class="d-flex justify-content-start mb-3">

     <div class="mr-auto">
        <label>E-Mail</label>
       <input formControlName="email" type="text" class="form-control" placeholder="">
      </div>

      <div class=" mb-3">
        <label>Телефон</label>
       <input formControlName="phone" type="text" class="form-control" placeholder="">
      </div>

    </div>

    <div class="mb-3">
      <label>Добавьте сообщение... </label>
      <textarea formControlName="wishes" class="form-control" rows="4" aria-label="Особые пожелания"></textarea>
    </div>

      <button id="transfer_anchor" #transfer_anchor class="btn-transfer-order" type="button" (click)="transfert()">Заказать</button>
      {{sResultEmail}}

    </div>
  </div>

</div>

</form>

<app-footer></app-footer>

