.container {
  padding: 0;
}

.video-block {
  position: relative;
  width: 100%;
  height: auto;

}

.video {
  width: 100%;
  height: auto;
  opacity: 1;
  z-index: -10 !important;
}

h2{
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  font-size: 42px;
  font-weight: 500;
  opacity: 0.95;
  color: #212529;
  margin-top: 40px;
}
hr{
  width: 190px;
  margin-top: 1px;
  border-top: 1px solid #808080;
  margin-bottom: 46px;
}
.item-viteb, .item-ladoga, .item-pulkovo {
  font-family:open sans,sans-serif;
  width:336px;
  height: 487px;
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 1px 3px 4px 2px #dadcdc;
}
.name {
  width: 180px;
  font-size: 20px;
  color: #577083;
  font-weight: bold;
  letter-spacing: 0.08em;
  background-color: #fff;
  padding-left: 18px;
  margin-top: -30px;
  z-index: 3;
  position: absolute;
}
.phone {
  font-size: 14px;
  color: #7FCCF7;
  margin-top: 34px;
  padding-left: 18px;
}
.txt {
  font-family: proxima-n-w01-reg, sans-serif;
  font-size: 15px;
  color: #577083;
  margin-top: 15px;
  padding-left: 18px;
  letter-spacing: normal;
}
.prise-order {
  font-family: avenir-lt-w01_85-heavy1475544,sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #F37E48;
  margin-top: 15px;
  padding-left: 18px;
  line-height: 0.5;
}
.btn-order {
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border: solid rgba(0, 0, 0, 0.99) 1px;
  border-radius: 20px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  margin-top: -12px;
  margin-left: 28px;
  padding-top: 15px;
  padding-left: 28px;
}
a.btn-order:hover {
  background: rgb(142, 138, 138);
  color: #ffffff;
}
a.btn-order:active {
  color: #ffffff;
  box-shadow: 0 3px rgb(205, 205, 205) inset;
  font-size: 16px;
}
.description {
  font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
  font-size: 20px;
  max-width: 90%;
  margin: 60px 0;
}

.transfer-order {
  width: 500px;
  margin: 0 auto;
}
h3 {
  font-family: Arial,sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #ced0d0;
  padding-bottom: 10px;
  margin-bottom: 27px;
  color: #373737;
  background-color: #ffffff;
}
.btn-transfer-order {
  display: block;
  width: 275px;
  height: 40px;
  background-color: #33a2dc;
  background: linear-gradient(to bottom,#36a7dd 0,#2f9ad8 100%);
  color: #fff;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  margin: 35px 10px 25px auto;
}
.alert-danger {
  background-color: #bf6971;
  border-color: #f5c6cb;
  text-align: center;
  color: white;
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .item-viteb, .item-ladoga, .item-pulkovo {
    width:336px;
    height: 487px;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 20px;
  }
}  /* КОНЕЦ 992 - 1200  */

@media screen and (min-width:480px) and (max-width:991px) {
.col-12 {
  flex-wrap: wrap;

}
  .item-viteb, .item-ladoga, .item-pulkovo {
    width:480px;
    height: auto;
    margin: 0 auto 20px auto;

  }
  .description {
    width: 480px;
  }
img {
  width: 100%;
  height: auto;
}
  .transfer-order {
    width: 480px;
    margin: 0 auto;
  }
  .client-info {
    width: 100%;
    padding: 0 20px 0 10px;
  }
  input {
    padding-right: 6px;

  }
}  /* КОНЕЦ 480 - 991  */

@media screen and (max-width:479px) {
  .col-12 {
    flex-wrap: wrap;
  }
  .item-viteb, .item-ladoga, .item-pulkovo {
    width:300px;
    height: auto;
    margin: 0 auto 20px auto;
  }
  .description {
    width: 300px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .transfer-order {
    width: 300px;
    margin: 0 auto;
  }
  .prise-order {
    font-size: 22px;
    font-weight: 700;
    color: #F37E48;
    margin-top: 15px;
    padding-left: 18px;
    line-height: 0.5;
  }
  .client-info {
    width: 100%;
    padding: 0 10px 0 6px;
  }
 input {
    padding-right: 3px;
    width: 140px;
  }
}  /* КОНЕЦ 320 - 479  */
