.page1 {
  max-width: 1140px;
  margin: 0 auto;
}
h2{
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  font-size: 48px;
  font-weight: 500;
  opacity: 0.95;
  color: #212529;
}
hr{
  width: 50%;
  margin-top: 1px;
  border-top: 1px solid #808080;
}
.top-txt{
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  text-align: center;
  color: #212529;
  margin-bottom: 85px;
  filter: contrast(10.21);
}
.img-services {
  padding-top: 6px;
}
h3 {
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #414141;
}
.topic {
  height: 150px;
  padding: 0 0 0 40px;
}
p {
  font-size: 16px;
  margin-bottom: 5px;
}


