<nav class="navbar py-0">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link photo dropdown-toggle align-items-lg-end" data-toggle="dropdown" href="#"><span class="entrtxt">Войти</span>

        <div class="mr-1" *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">{{this.sUserName}}</div>
        <ng-template #contentLoadAvatar>
          <img [src]="this.sAvatarPath" class="rounded-circle" style="width: 34px;height: 34px;" alt="{{this.sUserName}}" id="img">
        </ng-template>
        <ng-template #contentDefault>
          <img src="/assets/img/user.png" class="rounded-circle" style="width: 30px;height: 30px;" alt="{{this.sUserName}}">
        </ng-template>
      </a>

      <div class="dropdown-menu">

        <a *ngIf="idUser <= 0" class="nav-link" href="login/." [style] = "getStyleName(100)">
          <p class="icon icon-admin">
            <span>Вход</span>
          </p>
        </a>

        <a *ngIf="idUser > 0" class="nav-link" href="kabinet/." [style] = "getStyleName(101)">
          <p class="icon icon-profile">
            <span>Кабинет</span>
          </p>
        </a>

        <a *ngIf="editor === 1" class="nav-link" href="administrirovanie/." [style] = "getStyleName(102)">
          <p class="icon icon-admin">
            <span>Добавить номер</span>
          </p>
        </a>

        <a *ngIf="editor === 1" class="nav-link" href="spisokzakazov/." [style] = "getStyleName(102)">
          <p class="icon icon-admin">
            <span>Список заказов</span>
          </p>
        </a>


        <a  *ngIf="idUser > 0" class="nav-link" (click)="logout()" [style] = "getStyleName(103)">
          <p class="icon icon-exit" style="cursor: pointer;">
            <span>Выход</span>
          </p>

        </a>

      </div>

    </li>
  </ul>
</nav>

<!--
 <nav class="navbar navbar-expand text-center">
  <ul class="nav flex-column">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">

        <div *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">{{this.sUserName}}</div>
        <ng-template #contentLoadAvatar>
          <img [src]="this.sAvatarPath" class="rounded-circle" style="width: 64px;height: 64px;" alt="{{this.sUserName}}" id="img">
        </ng-template>
        <ng-template #contentDefault>
          <img src="/assets/img/usernull.png" class="rounded-circle" style="width: 64px;height: 64px;" alt="{{this.sUserName}}">
        </ng-template>
      </a>



      <ul class="dropdown-menu" style="width: 230px">
    <li class="nav-item">
        <a class="nav-link py-3 pl-2" href="parlor" [style] = "getStyleName(100)"><i class="fa fa-info fa-lg ml-2 mr-3"></i>Кабинет</a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-3 pl-3" href="admin" [style] = "getStyleName(101)"><i class="fa fa-user-secret fa-lg mr-2"></i>Администрирование</a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-3 pl-3" href="summary-laundry" [style] = "getStyleName(102)"><i class="fa fa-bar-chart fa-lg mr-2"></i>Календарь</a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-3 pl-3" href="graph-laundry" [style] = "getStyleName(103)"><i class="fa fa-money fa-lg mr-2"></i>Графики</a>
    </li>
      </ul>

    </li>
  </ul>
</nav>
 -->
