a {color: #9b9a9e; padding: 0;}
a:hover{  font-weight: 800;  background-color: #c6c8ca; color: white; }

.rounded-circle:hover{
  background: white;
}
.photo:hover{
  background-color: #f9f9f9;
  color: #c6c8ca;
}
.nicon-menu{
  width: 32px;
  height:24px;
}
