a {color: #A3BAC9;}

.rounded-circle:hover{
  background: white;
}
.photo:hover{
  background-color: #f9f9f9;
  color: #c6c8ca;
}
.dropdown-menu {
  width: 212px;
  padding-left: 6px;
  margin-bottom: 30px;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
p {
  margin: 0;
  padding: 0;
}

span {
  font-family: proxima-n-w01-reg, sans-serif;
  font-size: 12.5px;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: inline-flex;
  color: #A3BAC9;
}
span:hover {
  color: #FF7F41;
}

header .nav-link {
  color: #A3BAC9;
}
header .nav-link:hover {
  color: #FF7F41;
}
.dropdown-menu a::after{
  content: '';
  display: block;
  width: 50%;
  background-color: #A3BAC9;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}
.dropdown-menu a:hover::after{
  transform: scale(1);
}
 .entrtxt {
  position: absolute;
  opacity: 0;

}
@media screen and (min-width:992px) and (max-width:1199px) {

}  /* КОНЕЦ 992 - 1200  */

@media screen and (min-width:480px) and (max-width:991px) {

}  /* КОНЕЦ 480 - 991  */

@media screen and (max-width:479px) {

}  /* КОНЕЦ 320 - 479  */
