.line {
  font-family: proxima-n-w01-reg, sans-serif;
  width: 100%;
  height: 80px;
  background-color: #4c4d4e;
  text-align: center;
  font-size: 32px;
  color: white;
  line-height: 2.5;
  text-transform: uppercase;
}
.back-call {
  position: fixed;
  bottom: 30px;
  right:  30px;
  z-index: 99;
}
.modal-content {
  padding: 20px 30px;
}
