
<div class="d-flex justify-content-center video-block">


  <div class="video">
    <video width="100%" height="auto"
           poster="/../../assets/img/intro.jpg"
           autoplay
           tabindex="0"
           #myvideo
           muted
           loop
           oncanplay="this.play()"
           onloadedmetadata="this.muted = true"
           id='myvideo'>

      <source src="/../../assets/img/intro.webm" type="video/webm">
      <source src="/../../assets/img/intro.mp4" type="video/mp4">


    </video>
  </div>


  <span class="d-flex justify-content-center advert">Комфортные номера от 1800 рублей в сутки</span>

  <button class="d-flex justify-content-center btn-reservation" (click)="reservClick()">Забронировать номер</button>

  <div class="d-flex justify-content-between socnet">
    <a href="https://www.instagram.com/hotelsbor"><img src="../../assets/img/instagram.png" height="32" width="32" title="Instagram"/></a>
    <a href="https://vk.com/hotelvictoriasb"><img src="../../assets/img/vk.png" height="32" width="32" title="ВКонтакте"/></a>
    <a href="https://www.facebook.com/Victoriasbor/"><img src="../../assets/img/facebook.png" height="32" width="32" title="Facebook"/></a>
    <a href="https://www.tripadvisor.ru/Hotel_Review-g1778277-d6976101-Reviews-Victoria_Guest_House-Sosnovy_Bor_Vyborgsky_District_Leningrad_Oblast_Northwestern_Dis.html">
      <img src="../../assets/img/tripadvisor.png" height="36" width="36" title="Tripadvisor"/></a>
  </div>


</div>

<!-- скрытые кнопки нужная для нажатия-->
<button id="openModalButtonReserv" [hidden]="true" data-toggle="modal" data-target="#wModal2">Open Modal</button>
<button id="closeModalButtonReserv" [hidden]="true" data-toggle="modal"data-target="#wModal2" class="btn btn-default" data-dismiss="modal">Close</button>
<div id="wModal2" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{sErrorPhone}}
        <h5 class="modal-title">Заказать звонок</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="form-group">
        <label for="inputPhoneNameReserv" style="color: #8a8587">* Обязательное поле</label>
        <input class="form-control" id="inputPhoneNameReserv" placeholder="Имя">
      </div>

      <div class="form-group">
        <label for="inputPhoneNumberReserv" class="form-control-label" style="color: #8a8587">* Обязательное поле</label>
        <input class="form-control" id="inputPhoneNumberReserv" placeholder="Телефон">
      </div>

      <div class="form-group">
        <label for="inputPhoneAddReserv" class="form-control-label">Сообщение:</label>
        <textarea class="form-control" id="inputPhoneAddReserv"></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onYesCallClick()">Да</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>


<!--


<div id="trailer" class="is_overlay">
  <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
    <source src="/../../assets/img/intro.webm" type="video/webm">
    <source src="/../../assets/img/intro.mp4" type="video/mp4">

  </video>
</div>



-->
