
<div class="d-flex justify-content-center video-block">

<div class="video">
 <video width="100%" height="auto" poster="/../../assets/img/intro.jpg" autoplay="autoplay" loop="loop" controls="controls" tabindex="0">
    <source src="/../../assets/img/intro.mp4" type="video/mp4">
 </video>
</div>



  <span class="d-flex justify-content-center adv">Комфортные номера от 1800 рублей в сутки</span>



<div class="d-flex justify-content-between socnet">
  <a href="https://www.instagram.com/hotelsbor"><img src="../../assets/img/instagram.png" height="32" width="32" title="Instagram"/></a>
  <a href="https://vk.com/hotelvictoriasb"><img src="../../assets/img/vk.png" height="32" width="32" title="ВКонтакте"/></a>
  <a href="https://www.facebook.com/Victoriasbor/"><img src="../../assets/img/facebook.png" height="32" width="32" title="Facebook"/></a>
  <a href="https://www.tripadvisor.ru/Hotel_Review-g1778277-d6976101-Reviews-Victoria_Guest_House-Sosnovy_Bor_Vyborgsky_District_Leningrad_Oblast_Northwestern_Dis.html">
    <img src="../../assets/img/tripadvisor.png" height="36" width="36" title="Tripadvisor"/></a>
</div>


</div>


<!--

 <div class="logo-video">
    <div class="d-flex justify-content-center">
      <video width="20%" height="auto" >
        <source src="/../../assets/img/intro-logo.mp4" type="video/mp4">
      </video>

      </div>
  </div>
/



<source src="/examples/media/martynko.webm" type="video/webm">
  <source src="/examples/media/martynko.ogv" type="video/ogg">

<img class="img-fluid" src="../../assets/img/molodezhnaya72room1-middle1.jpg" height="433" width="auto"/>
-->
