.calendar-panel{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 274px;
  height: auto;
  padding: 16px;
  margin-top: -10px;
  margin-left: 42px;
  border: 1px solid #dadcdc;
  background-color: white;
  z-index: 9;
}
.triangle2 {
  width: 0;
  height: 0;
  border-width: 14.5px 0 14.5px 25.1px;
  border-color: transparent transparent transparent #E65918;
  border-style: solid;
  margin: -36px 0 0 256px;
  position: absolute;
}

.triangle {
  margin: -39px 0 0 256px;
  position: absolute;
  border-top: 15px dashed #dadcdc;
  border-bottom: 15px dashed #dadcdc;
  border-left: 16px solid #fff;
}

.top{
  height: 32px;
  padding: 0 6px;
  line-height: 2;
}
.week-days{
  height: 12px;
}
.prev, .next:hover {
  cursor: pointer;
}
.today, .clear{
  font-size: 11px;
  color: #4d7cc2;
  cursor: pointer;

}
.month-year, .year{
  font-size: 16px;
}

ul {list-style-type: none;}


/* Days (1-31) */
.days {
  height: 30px;
  background: white;
  line-height: 2;
}

.days span {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: black;
}

/* Highlight the "current" day */
.days span .active {
  padding: 5px;
  background: #054eaddc;
  color: white !important;
}
.days span:hover {
  cursor: pointer;
  border: 1px solid #dadcdc;
}



/* стили клеток в календаре */


/* 1 обычный день не входящий в месяц */
.uncheckedNotMonthDay {
  background: white;
  color: lightgray !important;
}

/* 2 забронированный день не входящий в месяц */
.busyNotMonthDay {
  background: white;
  color: red !important;
  text-decoration: line-through;
  font-weight: bold;
}

/* 3 отмеченный пользователем день не входящий в месяц */
.checkedNotMonthDay {
  background: white;
  color: rgb(35, 182, 67) !important;
  text-decoration: line-through;
}


/* 4 забронированный день входящий в месяц */
.busyMonthDay {
  background: white;
  color: red !important;
  text-decoration: line-through;
  font-weight: bold;
}

/* сегодняшний день занятый кем-то */
.busyMonthNowDay {
  background: white;
  color: red !important;
  font-weight: bold;
  border: 1px solid black;
  text-decoration: line-through;
}

/* 5 отмеченный пользователем день текущего месяца */
.checkedMonthDay {
  background: white;
  color: rgb(35, 182, 67) !important;
  text-decoration: line-through;
  font-weight: bold;
}


/* 6 день СЕГОДНЯ отмеченный пользователем */
.checkedNowMonthDay {
  background: white;
  color: rgb(35, 182, 67) !important;
  font-weight: bold;
  border: 1px solid black;
  text-decoration: line-through;
}

/* 7 день СЕГОДНЯ */
.uncheckedNowMonthDay {
  background: white;
  color: black !important;
  font-weight: bold;
  border: 1px solid black;
}
