<app-header></app-header>
<div class="container align-content-center">

  <form [formGroup]="addroomsForm">

    <div class="row">
      <div class="col-6">

        <div class="card p-4">

          <h5 class="card-title">Адрес</h5>
          <label>Выберите адрес</label>

          <div class="d-flex">
            Гостиница<input type="radio" id="rbAddroomHotel" name="grAddroomHotel" value="hotel" (click)="clickAddroomHotel()" checked />
            Прочие фонды<input type="radio" id="rbAddroomFound" name="grAddroomHotel" value="found" (click)="clickAddroomHotel()" />
          </div>

          <div *ngIf="boolHotel">
            <select class="custom-select" formControlName="inputAddress" placeholder="">
              <option [value]="address.id" *ngFor="let address of listAddress">{{address.name}}</option>
            </select>
          </div>

          <div *ngIf="!boolHotel">
            <input formControlName="inputNewAddress" type="text" class="form-control w-25" placeholder="">
          </div>


        </div>

        <div class="card p-4">
          <h5 class="card-title">Номер</h5>

          <label> Название или тип проживания</label>
          <input formControlName="nameRoom" type="text" class="form-control" placeholder="Название или тип проживания">

          <div class="d-flex">
            <label class="w-75">Макс. гостей</label>
            <input formControlName="maxGuest" type="text" class="form-control w-25" placeholder="">
          </div>
          <div class="d-flex">
            <label class="w-75">Макс. детей</label>
            <input formControlName="maxChild" type="text" class="form-control w-25" placeholder="">
          </div>
          <div class="d-flex">
            <label class="w-75">Размер номера, м²</label>
            <input formControlName="numberSize" type="text" class="form-control w-25" placeholder="">
          </div>
        </div>

        <div class="card p-4">
          <h5 class="card-title">Описание номера</h5>

          <textarea formControlName="description" id="description" class="form-control" rows="19"
                    placeholder="Опишите ваш номер. В чем его особенности?">" "</textarea>

        </div>

      </div>

      <div class="col-6">
        <div class="card p-4">
          <h5 class="card-title">Кровати</h5>

          <div *ngFor="let bedstype of listBedstype">
            <div class="d-flex justify-content-between">
              <span>{{bedstype.name}}</span>
              <input formControlName="bed{{bedstype.id}}" type="text" class="form-control w-25" placeholder="">
            </div>
          </div>
        </div>

        <div class="card p-4">
          <h5 class="card-title">Удобства</h5>
          <h6 class="card-subtitle mb-4 text-muted">Отметьте все преимущества номера.</h6>
          <div class="d-flex flex-column">
            <div *ngFor="let feature of listFeatures">
              <div class="custom-control custom-checkbox">
                <input  formControlName="typefeature{{feature.id}}" type="checkbox" class="custom-control-input" id="customCheck{{feature.id}}">
                <label class="custom-control-label" for="customCheck{{feature.id}}">{{feature.name}}</label>
              </div>
            </div>

          </div>
        </div>

        <div class="card p-4">
          <h5 class="card-title">Цена</h5>
          <div class="d-flex">
            <label class="w-50">Тип расчета</label>
            <select class="custom-select w-50" formControlName="inputTypeprice" placeholder="">
              <option [value]="typeprice.id" *ngFor="let typeprice of listTypeprice">{{typeprice.name}}</option>
            </select>
          </div>

          <div class="d-flex">
            <label class="w-50">Цена в будни</label>
            <input formControlName="priceWeekdays" type="text" class="form-control w-50" placeholder="">
          </div>
          <div class="d-flex">
            <label class="w-50">Цена в выходные</label>
            <input formControlName="priceWeekend" type="text" class="form-control w-50" placeholder="">
          </div>

        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <div class="card p-4">
          <h5 class="card-title">Фотографии</h5>

          <!-- загрузка изображений -->
          <div class=" d-flex text-center mb-3">
            <input type="file" multiple="multiple" accept="image/*" id="avatar" (change)="onFileChange($event)" #fileInput
                   style="display:none">
            <button type="button" class="btn btn-link"
                    style="display: block; cursor: pointer; text-decoration: underline;"
                    onclick="document.getElementById('avatar').click()">Прикрепить изображение</button>
            <button type="button" class="btn btn-link" (click)="clearFile()"
                    style="display: block; cursor: pointer; text-decoration: underline;">Очистить</button>
          </div>

          <div #imageloadCard id="imageloadCard">

          </div>

        </div>
      </div>

      <div class="mb-5 error">
        <div class="alert-danger">{{sError}}</div>
      </div>
      <button class="btn btn-outline-primary my-5 mx-4" type="button" (click)="saveRoom()">Сохранить</button>

    </div>


  </form>

</div>

<app-footer></app-footer>
