<app-header></app-header>

<app-easycalendar></app-easycalendar>

<div class="container">
  <h1>Бронирование номера</h1>

  <div class="d-flex justify-content-start choice-block">
    <div class="d-flex justify-content-between check-in">
      <span>Заезд</span>
      <span><img class="ico" src="../../assets/img/calendar.svg" height="20" width="20"/></span>
    </div>

    <div class="d-flex justify-content-between check-out">
      <span>Выезд</span>
      <span><img class="ico" src="../../assets/img/calendar.svg" height="20" width="20"/></span>
    </div>


    <div class="d-flex justify-content-start check-col">

      <span class="col">2</span>
      <span class="person">взрослых</span>
      <div class="arrows">
        <span><img class="arr" src="../../assets/img/drop-down-arrow.svg" height="20" width="20" style="display: block"/></span>
        <span><img class="arr" src="../../assets/img/drop-down-arrow.svg" height="20" width="20" style="display: block"/></span>
      </div>
    </div>



  </div>



  <div class="room-block">

    <div class="room-image">
      <img src="../../assets/img/molodezhnaya72room1-thumb1.jpg" height="170" width="240"/>
    </div>

    <div class="room-description">
      <div class="room-title">Отель Молодежная 72 №1</div>
      <p>
        В номере имеются все необходимые удобства для комфортабельного проживания и отдыха:
        двухспальная кровать, и другая фигня.
      </p>
  </div>

    <div class="room-about">
      <span class="room-price-from">от</span>
      <span class="room-price">3800</span>

      <button type="button" class="btn-about" style="background-color: white; color:#797575;">
        О номере
      </button>

  </div>

</div>

<i class="fa fa-calendar"></i>

</div>
