.container{
  max-width: 1140px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.video-block {
  position: relative;
  width: 100%;
  height: auto;

}

.video {
  width: 100%;
  height: auto;
  opacity: 1;
  z-index: -10 !important;
}

h1{
  font-size:24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #212529;
  width: 860px;
  margin: 41px 0 0 42px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dadcdc;
}
.choice-block{
  font-family: 'Open Sans', sans-serif;
  width: 860px;
  height: 85px;
  margin-left: 42px;
  border-bottom: 1px solid #dadcdc;
  display: inline-block;
  padding-top: 8px;
}
.check-in, .check-out, .check-col, .check-chldr {
  font-size:13px;
  width: 182px;
  height: 36px;
  padding: 0 7.5px;
  margin: auto 0;
  line-height: 34px;
  display: inline-block;
  border-top: 1px solid #dadcdc;
  border-right: 1px solid #dadcdc;
  border-bottom: 1px solid #dadcdc;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  white-space: nowrap;
}
.check-in {
  border-left: 1px solid #dadcdc;
}
.check-in, .check-out:hover {
  cursor: pointer;
}
.search-results {
  height: 70px;
  padding: 20px 0;
  margin: 0 208px 0 42px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dadcdc;
}
.search-results span{
  font-weight: bold;
}
.btn-clear-results {
  font-weight: 500;
  color: #FF7F41;
  margin-top: -6px;
  text-decoration: underline;

}
.btn-clear-results:hover {
  cursor: pointer;
  color: #414141;
}
.room-block{
  position: relative;
  width:860px;
  height: auto;
  background-color: #ffffff;
  margin-left: 42px;
  margin-top: 38px;
  padding-bottom: 37px;
  border-bottom: 1px solid #dadcdc;
}
.room-image{
  width: 265px;
  cursor: pointer;
}
.room-description{
  width: 410px;
  height: 133px;
  border-bottom: solid 1px #dadcdc;
}
.room-title{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size:20px;
  font-weight: 600;
  padding-bottom: 1px;
  vertical-align: top;
}
p{
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.3;
  margin-bottom: 2px;
  height: 49px;
  overflow: hidden;
}
.room-about{
  width: 185px;
  text-align: center;
  padding-left: 25px;
}
.room-price-from{
  text-align: center;
  display: block;
  position: relative;
  font-size: 12px;
  padding-top: 43px;
  font-weight: 400;
}
.room-price{
  text-align: center;
  display: block;
  font-size: 25px;
  padding-top: 12px;
  padding-bottom: 16px;
  font-weight: 600;
}
.btn-about{
  width: 160px;
  height: 36px;
  background-color: rgba(230,89,24,0.9496549333844865) !important;
  color: rgba(54,56,57,1) !important;
  border-radius: 8px;
}
.btn-choice {
  width: 140px;
  height: 36px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: rgba(230,89,24,0.9496549333844865) !important;
  color: rgba(54,56,57,1) !important;
}
.col, .person {
  flex-basis: content;
  flex-grow: 0;
  min-width: 0;
}
.comfort-block {
  width: 410px;
  height: 35px;
  padding-top: 4px;
  margin-top: 18px;
  overflow: hidden;
}
.comfort-image {
  width: 36px;
  height: 33px;
}

.arr {
  width: 12px;
  height: 12px;
  display: block
}
.arr2 {
  width: 12px;
  height: 12px;
}
.arr, .arr2:hover {
  cursor: pointer;
}
.features {
  height: 38px;
  padding: 3px 0 4px 2px;
}
ul {
  height: 20px;
  margin: 0;
  font-size: 13px;
  padding-left: 18px;
  overflow: hidden;
  list-style: disc;


}

li {
  display: inline;
}
img {
  color: #7FCCF7;
}


.easy-calendar{
  width: 274px;
  height: 224px;
  margin: 0 auto;
}
.c2alendar-block{
  width:860px;
  height: 350px;
}

.easy-calendar-left{
  position: absolute;
  width: 274px;
  height: auto;
}

.easy-calendar-right{
  position: absolute;
  width: 274px;
  height: auto;
  margin-left: 179px;
}
.comfort-block img {
  margin-right: 8px;
}

/*  margin-top: -10px;
  margin-left: 42px;
  border: 1px solid #dadcdc;*/
@media screen and (min-width:992px) and (max-width:1199px) {

}  /* КОНЕЦ 992 - 1199  lg  */

@media screen and (min-width:577px) and (max-width:991px) {


}  /* КОНЕЦ 577 - 991  md */

@media screen and (max-width:576px) {
  h1{
    width: auto;
    margin: 10px 0 15px 0;
  }
  .choice-block {
    flex-direction: column;
    margin-bottom: 20px;
    height: auto;
  }
  .check-in, .check-out, .check-col, .check-chldr {
    width: 30%;
    margin: auto 0;
    border-top: 1px solid #dadcdc;
    border-left: 1px solid #dadcdc;
    border-right: 1px solid #dadcdc;
    border-bottom: none;
  }
  .check-chldr {
    border-bottom: 1px solid #dadcdc;
}

  .room-block {
    flex-direction: column;
    justify-content: center;
  }
}  /* КОНЕЦ 320 - 576  - */
