<app-header></app-header>



<div class="container">
  <h1>Бронирование номера</h1>

  <div class="d-flex justify-content-start choice-block">
    <div class="check-in">
      <div>Заезд</div>
      <div><i class="fa fa-calendar" style="color: #ccc"></i></div>

    </div>
    <div class="check-out">
      <div>Выезд</div>
      <div class="gt"><i class="fa fa-calendar" aria-hidden="true" style="color: red"></i></div>
    </div>
  </div>

  <div class="room-block">
    <img src="../../assets/img/molodezhnaya72room1-thumb1.jpg" height="170" width="240"/>
    <div class="room-title">Отель Молодежная 72 №1</div>
  </div>
</div>

<i class="fa fa-calendar"></i>
