<app-header></app-header>

<div class="container">
  <h1>Наши номера</h1>

  <div class="d-flex justify-content-start choice-block">
    <div class="d-flex justify-content-between check-in">
      <span id="textCalenarBegin">Заезд&nbsp;</span>
      <span (click)="clickIconBeginCalendar()"><img class="ico" src="../../assets/img/calendar.svg" height="20" width="20"/></span>
    </div>

    <div class="d-flex justify-content-between check-out">
      <span id="textCalenarEnd">Выезд&nbsp;</span>
      <span (click)="clickIconEndCalendar()" ><img class="ico" src="../../assets/img/calendar.svg" height="20" width="20"/></span>
    </div>

    <div class="d-flex justify-content-between check-col">

      <div class="m-0 p-0 pr-2 col">{{numberOfAdults}}&nbsp;взрослых</div>


      <div class="d-flex flex-column m-0 ml-auto arrows">
        <span (click)="addAdult()"><img class="arr mt-1" src="../../assets/img/up-down-arrow.svg"/></span>
        <span (click)="deleteAdult()"><img class="arr2 mb-3" src="../../assets/img/drop-down-arrow.svg"/></span>
      </div>   <!--  -->

    </div>

    <div class="d-flex justify-content-between check-chldr">

      <div class="m-0 p-0 pr-2 col">{{numberOfChildren}}&nbsp;детей</div>

      <div class="d-flex flex-column m-0 ml-auto arrows">
        <span (click)="addChildren()"><img class="arr mt-1" src="../../assets/img/up-down-arrow.svg"/></span>
        <span (click)="deleteChildren()"><img class="arr2 mb-3" src="../../assets/img/drop-down-arrow.svg"/></span>
      </div>   <!--  -->

    </div>

    <button type="button" class="btn-choice" (click)="findRooms()">
      Подобрать
    </button>

  </div>

  <div *ngIf="boolBeginCalendar || boolEndCalendar" class="calendar-block">
    <div *ngIf="boolBeginCalendar" class="easy-calendar-left">
      <app-easycalendar #beginCalendar (clickDay)="clickDayBegin($event)"></app-easycalendar>
    </div>
    <div *ngIf="boolEndCalendar" class="easy-calendar-left">
      <app-easycalendar #endCalendar (clickDay)="clickDayEnd($event)"></app-easycalendar>
    </div>
  </div>


<!-- ЗАГЛУШКА ДЛЯ РАБОТЫ С БАЗОЙ-->
<div *ngFor="let room of roomsArray">

<div class="room-block">



      <!-- показываем фото номера-->
      <div *ngIf="room.photo_mas && room.photo_mas.length>0">
        <div class="room-image">
         <img src="{{this.sUrlImage}}{{room.photo_mas[0]}}" height="170" width="240"/>
      </div>
      </div>

      <div *ngIf="!room.photo_mas || room.photo_mas.length === 0">
        <div class="room-image">
          <div class="room-image">
            <img src="../../assets/img/intro-image.jpg" height="170" width="240"/>
          </div>
        </div>
      </div>
      <!-- закончили показ фото номера-->


  <div class="room-description">
    <div class="room-title">{{room.name}}</div>

    <div>адрес: {{room.address}}</div>

    <p>
      {{room.description}}
    </p>


    <ul class="features">
      <li>Площадь: <span class="metr">{{room.size}}</span> кв. м</li>
      <li> Кровати: <span class="beds"></span></li>

      <!-- выводим кровати номера-->
      <div *ngIf="room.beds_mas && room.beds_mas.length>0">
          <li *ngFor="let bed of room.beds_mas"><span class="beds">{{bed.name}} : {{bed.amount}} шт.</span></li>
      </div>

    </ul>


    <div *ngIf="room.features_mas && room.features_mas.length > 0">
      <div class="d-flex justify-content-start mt-1 comfort-block">
        <div *ngFor="let feature of room.features_mas">
          <span *ngIf="feature === '1'" class="p-0 comfort-image"><img src="../../assets/img/wi-fi.png" height="30" width="30"/></span>
          <span *ngIf="feature === '2'" class="p-0 comfort-image"><img src="../../assets/img/tv.png" height="30" width="30"/></span>
          <span *ngIf="feature === '3'" class="p-0 comfort-image"><img src="../../assets/img/bar.png" height="30" width="30"/></span>
          <span *ngIf="feature === '4'" class="p-0 comfort-image"><img src="../../assets/img/shower.png" height="30" width="30"/></span>
          <span *ngIf="feature === '5'" class="p-0 comfort-image"><img src="../../assets/img/kitchen.png" height="30" width="30"/></span>
          <span *ngIf="feature === '6'" class="p-0 comfort-image"><img src="../../assets/img/towels.png" height="30" width="30"/></span>
          <span *ngIf="feature === '7'" class="p-0 comfort-image"><img src="../../assets/img/appliances.png" height="30" width="30"/></span>
          <span *ngIf="feature === '8'" class="p-0 comfort-image"><img src="../../assets/img/conditioner.png" height="30" width="30"/></span>
          <span *ngIf="feature === '9'" class="p-0 comfort-image"><img src="../../assets/img/safe.png" height="30" width="30"/></span>
          <span *ngIf="feature === '10'" class="p-0 comfort-image"><img src="../../assets/img/phone.png" height="30" width="30"/></span>
          <span *ngIf="feature === '11'" class="p-0 comfort-image"><img src="../../assets/img/bath.png" height="30" width="30"/></span>
          <span *ngIf="feature === '12'" class="p-0 comfort-image"><img src="../../assets/img/work-zone.png" height="30" width="30"/></span>
          <span *ngIf="feature === '13'" class="p-0 comfort-image"><img src="../../assets/img/smokers.png" height="30" width="30"/></span>
          <span *ngIf="feature === '14'" class="p-0 comfort-image"><img src="../../assets/img/toilet.png" height="30" width="30"/></span>
        </div>
      </div>
   </div>

  </div>

  <div class="room-about">
    <span class="room-price-from">от</span>
    <span class="room-price">{{room.price_weekdays}} руб</span>

    <button (click)="onClickAboutRoom(room.id, room)"  type="button" class="btn-about" style="background-color: white; color:#797575;">
      О номере
    </button>

  </div>

</div>


</div>
<!-- КОНЕЦ ЗАГЛУШКИ ДЛЯ РАБОТЫ С БАЗОЙ-->







<!--
<app-map-page></app-map-page>
-->
