body{

}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
h1{
  font-size:24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #212529;
  width: 980px;
  margin: 41px 0 0 42px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dadcdc;
}
.choice-block{
  font-family: 'Open Sans', sans-serif;
  width: 980px;
  height: 85px;
  margin-left: 42px;
  border-bottom: 1px solid #dadcdc;
  display: inline-block;
  margin-bottom: 38px;
  padding-top: 8px;
}
.check-in, .check-out, .check-col{
  font-size:13px;
  width: 182px;
  height: 36px;
  padding: 0 7.5px;
  margin: auto 0;
  line-height: 34px;
  display: inline-block;
  border: 1px solid #dadcdc;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}
.room-block{
  position: relative;
  display: flex;
  width:860px;
  height: auto;
  background-color: #ffffff;
  margin-left: 42px;
  padding-bottom: 37px;
  border-bottom: 1px solid #dadcdc;
}
.room-image{
  width: 265px;
  cursor: pointer;
}
.room-description{
  width: 395px;
  height: 126px;
  border-bottom: solid 1px #dadcdc;
}
.room-title{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size:20px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: top;
}
p{
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;

}
.room-about{
  width: 200px;
  text-align: center;
}
.room-price-from{
  text-align: center;
  display: block;
  position: relative;
  font-size: 12px;
  padding-top: 43px;
  font-weight: 400;
}
.room-price{
  text-align: center;
  display: block;
  font-size: 25px;
  padding-top: 12px;
  padding-bottom: 16px;
  font-weight: 600;
}
.btn-about{
  width: 160px;
  height: 36px;
  background-color: rgba(230,89,24,0.9496549333844865) !important;
  color: rgba(54,56,57,1) !important;
}
span .col{

}
.comfort{
  width: 60px;
  height: 60px;
  border: 1px solid red;
}

.easy-calendar{
  width: 274px;
  height: 224px;
  margin: 0 auto;
}
