<div class="d-flex justify-content-around p-0">
    <div class="image-block">
     <img class="img-fluid" src="../../assets/img/molodezhnaya72room1-middle1.jpg" height="433" width="auto"/>
      <div class="d-flex flex-column text-center hover-image">
      <h4>Отель Молодежная 72 №1</h4>
      <p>
        В номере имеются все необходимые удобства для комфортабельного проживания и отдыха:
        двухспальная кровать, диван, письменный стол, стул, комод, платяной шкаф, телевизор,
        wi-fi, санузел
      </p>
</div>

  </div>
    <div class="image-block">
      <img class="img-fluid" src="../../assets/img/parkovaya-6-1.jpg" height="433" width="auto"/>
      <div class="d-flex flex-column text-center hover-image">
        <h4>Апартаменты Парковая 6 (Рантала)</h4>
        <p>
          Прекрасный номер с видом из окна и лоджии на финский залив и город Сосновый Бор.
          В номере: 2 современных телевизора с вещанием через интернет, посудомоечная машина, стиральная машина, СВ-печь, духовка,
          индукционная панель, двух-спальная кровать, диван, рабочее место, барная стойка, совмещенный сан.узел, душевая кабина,
          шкаф для одежды, банкетка, безлимитный высокоскоростной интернет.
        </p>
      </div>
    </div>
  <div class="image-block">
    <img class="img-fluid" src="../../assets/img/parkovaya-46-1.jpg" height="433" width="auto"/>
    <div class="d-flex flex-column text-center hover-image">
      <h4>Отель Молодежная 72</h4>
      <p>
        В номере имеются все необходимые удобства для комфортабельного проживания и отдыха:
        двухспальная кровать, диван, письменный стол, стул, комод, платяной шкаф, телевизор,
        wi-fi, санузел
      </p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-around p-0">
    <div class="image-block">
      <img class="img-fluid" src="../../assets/img/krasnyhfortov-13-1.jpg" height="433" width="auto"/>
      <div class="d-flex flex-column text-center hover-image">
        <h4>Отель Молодежная 72</h4>
        <p>
          В номере имеются все необходимые удобства для комфортабельного проживания и отдыха:
          двухспальная кровать, диван, письменный стол, стул, комод, платяной шкаф, телевизор,
          wi-fi, санузел
        </p>
      </div>
    </div>
    <div class="image-block">
      <img class="img-fluid" src="../../assets/img/50letoktyabrya-1.jpg" height="433" width="auto"/>
      <div class="d-flex flex-column text-center hover-image">
        <h4>Отель Молодежная 72</h4>
        <p>
          В номере имеются все необходимые удобства для комфортабельного проживания и отдыха:
          двухспальная кровать, диван, письменный стол, стул, комод, платяной шкаф, телевизор,
          wi-fi, санузел
        </p>
      </div>
    </div>
    <div class="image-block">
      <img class="img-fluid" src="../../assets/img/geroev-60-1.jpg" height="433" width="auto"/>
      <div class="d-flex flex-column text-center hover-image">
        <h4>Отель Молодежная 72</h4>
        <p>
          В номере имеются все необходимые удобства для комфортабельного проживания и отдыха:
          двухспальная кровать, диван, письменный стол, стул, комод, платяной шкаф, телевизор,
          wi-fi, санузел
        </p>
      </div>
    </div>

</div>
