<div class="container-fluid">

  <h3 class="alert mb-3 d-flex justify-content-between my-3 px-3" style="background-color: #eef1f2;">
    <span>Личный кабинет</span>
    <span>{{nick}}</span>
  </h3>

  <div style="opacity:0; position: absolute;">{{id_user_vict}}</div>

  <div class="row">


    <div class="col-10 pl-0">

      <!-- ВТОРАЯ ФОРМА НЕ СВЯЗАННАЯ С ФОТО class="rounded float-left" alt="Фото" -->
     <div class="row">
      <div class="col-sm-12 col-lg-9
                        order-2
                        order-sm-2 order-lg-1">
        <form [formGroup]="parlorForm">


          <div class="d-flex justify-content-center my-3">
            <label class="w-25 pt-2 text-muted" for="inputEmail">Email</label>
            <input type="text" class="form-control w-50" id="inputEmail" formControlName="inputEmail" placeholder="введите Email">
          </div>

          <div class="d-flex justify-content-center my-3">
            <label class="w-25 pt-2 text-muted" for="inputLastname">Фамилия</label>
            <input type="text" class="form-control w-50" id="inputLastname" formControlName="inputLastName" placeholder="Фамилия">
          </div>


          <div class="d-flex justify-content-center my-3">
            <label class="w-25 pt-2 text-muted" for="inputName">Имя</label>
            <input type="text" class="form-control w-50" id="inputName" formControlName="inputName" placeholder="Имя">
          </div>

          <div class="d-flex justify-content-center my-3">
            <label class="w-25 pt-2 text-muted" for="inputPhone">Телефон</label>
            <input type="text" class="form-control w-50" id="inputPhone" formControlName="inputPhone" placeholder="Телефон">
          </div>

          <br>

          <!-- начало обработки почтовых ошибок -->

          <div *ngIf="parlorForm.controls['inputEmail'].dirty">

            <div class="alert alert-danger" role="alert"
                 *ngIf="parlorForm.controls['inputEmail'].value.length === 0 ">
              Не указан Email.
            </div>

            <div *ngIf="parlorForm.controls['inputEmail'].value.length > 0">
              <div *ngIf="parlorForm.controls['inputEmail'].invalid; else trueSucc">

                <div class="alert alert-danger" role="alert"
                     *ngIf="parlorForm.controls['inputEmail'].hasError('errorEmailExists') === true">
                  Данный Email уже занят.
                </div>

                <div class="alert alert-danger" role="alert"
                     *ngIf="parlorForm.controls['inputEmail'].hasError('email') === true">
                  Неверно введен Email.
                </div>

              </div>

              <ng-template #trueSucc>

                <div class="alert alert-success" role="alert">Email свободен.</div>

              </ng-template>

            </div>

          </div>

          <!-- закончили обработку почтовых ошибок -->

          <p style="margin-left: 13%;">
            <img class="img-lock" src="/assets/img/lock.png" alt="Смена пароля" title="Смена пароля">
            <label class="ml-3 text-muted" style="cursor: pointer; text-decoration: underline;" (click)="accessPassword()">Изменить пароль</label>
          </p>

          <ng-container *ngIf="bShowChangePassword">
            <div class="changepassBox">
              <input (click)="onClearInputError()" type="password" class="form-control w-50 my-3" id="inputNewPassword1" formControlName="inputNewPassword1" placeholder="Введите новый пароль">
              <input (click)="onClearInputError()" type="password" class="form-control w-50" id="inputNewPassword2" formControlName="inputNewPassword2" placeholder="Повторите пароль">

              <button type="submit" class="btn btn-outline-primary my-3 mr-3" style="width:120px" (click)="NewPassword()">Ок</button>
              <button type="submit" class="btn btn-outline-primary my-3 mr-3" style="width:120px" (click)="DisappearFrame()">Отмена</button>


              <ng-container *ngIf="bPasswordNew">Пароль изменен</ng-container>

              <div class="alert alert-danger" role="alert" *ngIf="bErrorRepeatPassword">Пароли не совпадают</div>
              <div class="alert alert-danger" role="alert" *ngIf="bErrorEmptyPassword">Пароли не должны быть пустыми</div>


              <div *ngIf="parlorForm.controls['inputNewPassword2'].value.length > 0">
                <div *ngIf="parlorForm.controls['inputNewPassword2'].invalid; else truePassword2Template">
                  <div class="alert alert-danger" role="alert">Повторный пароль не совпадает</div>
                </div>
              </div>

              <ng-template #truePassword2Template>
                <div class="alert alert-success" role="alert">Пароль совпал</div>
              </ng-template>

            </div>

          </ng-container>

        </form>


        <button type="submit" class="btn btn-outline-primary my-3 mr-3" (click)="savecv()" [disabled]="parlorForm.invalid" style="width:120px">Сохранить</button>
        <button type="submit" class="btn btn-outline-primary my-3" (click)="back()" style="width:120px">Отмена</button>
      </div>


       <div class="col-sm-12 col-lg-3
                        order-1
                        order-sm-1 order-lg-2">

        <div class="d-flex justify-content-center mt-3">

          <form [formGroup]="form">

            <div *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
            <ng-template #contentLoadAvatar>
              <img class="rounded" [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
            </ng-template>

            <ng-template #contentDefault>
              <img src="/assets/img/usernull.png" class="rounded" onclick="document.getElementById('avatar').click()">
            </ng-template>

            <div>

              <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
              <label class="text-muted ml-1 mt-3" style="display: block; cursor: pointer; text-decoration: underline;" onclick="document.getElementById('avatar').click()">Загрузить фото</label>
              <label class="text-muted ml-1" style="display: block; cursor: pointer; text-decoration: underline;" (click)="clearFile()">Очистить</label>
            </div>

          </form>

        </div>
      </div>
    </div>

  </div>

</div>
  </div>


