<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">

<h1>Отзывы</h1>

<hr class="ln">

      <div class="d-flex justify-content-start reviews-block">

        <div class="photo">
          <img src="../../assets/img-reviews/victoria-p.jpg" height="60" width="60"/>
        </div>

        <div class="reviews-description">
          <span class="title-rb">Татьяна Александровна</span><span class="date">Dec 12, 2018</span>
          <div class="txt-rb">
            Спасибо за уютный уголочек!!!Очень замечательно провели время с любимым!!!=)
          </div>

        </div>

      </div>

      <hr class="d-flex justify-content-center ln-rb">

      <div class="d-flex justify-content-start reviews-block">

        <div class="photo">
          <img src="../../assets/img-reviews/tatiana-a.jpg" height="60" width="60"/>
        </div>

        <div class="reviews-description">
        <span class="title-rb">Виктория Прокопова</span><span class="date">jan 20, 2019</span>
        <div class="txt-rb">
          Несколько дней находилась по рабочим вопросам в г. Сосновый Бор, проживала в гостинице "Виктория".
          Хочется отметить приветливость, хорошее отношение к клиентам и доброжелательность персонала.
          Отдельное спасибо администратору Оксане за то, что учла все пожелания при заезде.
          В номере было всё необходимое: хорошая мебель, наличие WiFi, телевизор.
          Продуманы такие мелочи, как тапочки, гель для душа, мыло. Очень удобное месторасположение гостиницы,
          что для меня было очень важно. Ещё раз большое спасибо всем сотрудникам гостиницы "Виктория".
          При необходимости остановлюсь здесь ещё.
        </div>

      </div>

      </div>

      <hr class="d-flex justify-content-center ln-rb">

      <div class="d-flex justify-content-start reviews-block">

        <div class="photo">
          <img src="../../assets/img-reviews/irina-m.jpg" height="60" width="60"/>
        </div>

        <div class="reviews-description">
          <span class="title-rb">Ирина Муляр</span><span class="date"> May 7, 2019</span>
          <div class="txt-rb">
            От лица ресторана "Талисман" хочу выразить огромную благодарность гостинице "Виктория"
            и лично М.Климчуку за взаимовыгодное сотрудничество. Благодаря вам наш ресторан приобрёл
            новых клиентов, а вы довольных и сытых 😊
          </div>

        </div>

      </div>

      <hr class="d-flex justify-content-center ln-rb">


    </div>
  </div>
</div>

<app-footer></app-footer>
