
<form [formGroup]="payForm" method="post" action="https://pay.modulbank.ru/pay">

    <input type="hidden" name="testing" value="1">
    <input type="hidden" name="salt" value="dPUTLtbMfcTGzkaBnGtseKlcQymCLrYI">

    <input type="hidden" name="order_id" value="14425840">

    <input type="hidden" name="amount" value="973">

    <input type="hidden" name="merchant" value="ad25ef06-1824-413f-8ef1-c08115b9b979">

    <input type="hidden" name="signature" value="9b28fa592922dc8a0c1ba2e40f2c0432aa617afd">

    <input type="hidden" name="description" value="Заказ №14425840">

    <input type="hidden" name="client_phone" value="+7 912 9876543">

    <input type="hidden" name="client_email" value="test@test.ru">

    <input type="hidden" name="success_url" value="http://myawesomesite.com/payment_success">

    <input type="hidden" name="receipt_contact" value="test@mail.com">
    
    <input type="hidden" name="unix_timestamp" value="1573451160">

    <input type="hidden" name="receipt_items"
 value="[{&quot;discount_sum&quot;: 40, &quot;name&quot;: &quot;Товар 1&quot;, &quot;payment_method&quot;: &quot;full_prepayment&quot;, 
 &quot;payment_object&quot;: &quot;commodity&quot;, &quot;price&quot;: 48, &quot;quantity&quot;: 10, &quot;sno&quot;: &quot;osn&quot;, &quot;vat&quot;: &quot;vat10&quot;},
 {&quot;name&quot;: &quot;Товар 2&quot;, &quot;payment_method&quot;: &quot;full_prepayment&quot;, 
 &quot;payment_object&quot;: &quot;commodity&quot;, &quot;price&quot;: 533, &quot;quantity&quot;: 1, &quot;sno&quot;: &quot;osn&quot;, &quot;vat&quot;: &quot;vat10&quot;}]">
    <input type="submit" value="Отправить платеж">
</form>
